<app-navbar></app-navbar>
<mat-sidenav-container class="example-container">
  <!--Left side nav-->
  <mat-sidenav [opened]="true" [disableClose]="true" mode="side" class="app-sidebar side-nav-style">
  <select [(ngModel)]="manufacturersSelect" id="manufacturer-dropdown" (ngModelChange)="onChange($event)" style="margin: 1pc 1pc 1pc 1pc">
    <option value="0" disabled selected>Please select a Car manufacturer</option>
    <option *ngFor="let manufacturer of manufacturers" [value]="manufacturer.name">{{manufacturer.name}}</option>
  </select>
    <br>
   <mat-list dense>
      <mat-list-item *ngFor="let vehicle of vehicles">
        <h3 matLine>Manufacturer Number: {{vehicle.vin}}</h3>
        <button class="btn btn-primary btn-sm" style="margin: 1pc 1pc 1pc 1pc" (click)="openDialog(vehicle.vin)">Show Notifications</button>
        <h2 matLine>Vehicle in Map: {{vehicle.aliasInMap}}</h2>
        <p matLine>
          <span> Model: {{vehicle.modelType}} </span>
        </p>
        <p matLine>
          <span> Passengers: {{vehicle.passengers}} </span>
        </p>
        <p matLine>
          <span> Location: {{vehicle.location}} </span>
        </p>
        <p matLine>
          <span> Speed: {{vehicle.speed}} </span>
        </p>
        <p matLine>
          <span> Distance Vehicle Ahead: {{vehicle.distanceVehicleAhead}} </span>
        </p>
        <p matLine>
          <span> Distance Vehicle Behind: {{vehicle.distanceVehicleBehind}} </span>
        </p>
        <p *ngIf=""></p>
      </mat-list-item>
    </mat-list>
  </mat-sidenav>
  <!--Right side nav-->
  <mat-sidenav position="end" [opened]="true" [disableClose]="true" mode="side" class="app-sidebar side-nav-style">
    <h2 style="margin: 1pc 1pc 1pc 1pc">Crash Events</h2>
    <mat-list dense>
      <mat-list-item *ngFor="let notification of crashNotifications">
        <h3 matLine [ngClass]="{'positive' : notification.isNew == true, 'negative' : notification.isNew == false}">Notification {{notification.id}}</h3>
        <h2 matLine [ngClass]="{'positive' : notification.isNew == true, 'negative' : notification.isNew == false}">Vehicle in Map: {{notification.aliasInMap}}</h2>
        <h2 matLine [ngClass]="{'positive' : notification.isNew == true, 'negative' : notification.isNew == false}">Manufacturer Number: {{notification.vin}}</h2>
        <p matLine [ngClass]="{'positive' : notification.isNew == true, 'negative' : notification.isNew == false}">
          <span> Time of event: {{notification.date}} </span>
        </p>
        <p matLine [ngClass]="{'positive' : notification.isNew == true, 'negative' : notification.isNew == false}">
          <span> Model: {{notification.modelType}} </span>
        </p>
        <p matLine [ngClass]="{'positive' : notification.isNew == true, 'negative' : notification.isNew == false}">
          <span> Passengers: {{notification.passengers}} </span>
        </p>
        <p matLine [ngClass]="{'positive' : notification.isNew == true, 'negative' : notification.isNew == false}">
          <span> Location: {{notification.location}} </span>
        </p>
        <p matLine [ngClass]="{'positive' : notification.isNew == true, 'negative' : notification.isNew == false}">
          <span> Speed: {{notification.speed}} </span>
        </p>
        <p matLine [ngClass]="{'positive' : notification.isNew == true, 'negative' : notification.isNew == false}">
          <span> Distance Vehicle Ahead: {{notification.distanceVehicleAhead}} </span>
        </p>
        <p matLine [ngClass]="{'positive' : notification.isNew == true, 'negative' : notification.isNew == false}">
          <span> Distance Vehicle Behind: {{notification.distanceVehicleBehind}} </span>
        </p>
      </mat-list-item>
    </mat-list>
    <h2 style="margin: 1pc 1pc 1pc 1pc">Near Crash Events</h2>
    <mat-list dense>
      <mat-list-item *ngFor="let notification of nearCrashNotifications">
        <h3 matLine [ngClass]="{'positive' : notification.isNew == true, 'negative' : notification.isNew == false}">Notification {{notification.id}}</h3>
        <h2 matLine [ngClass]="{'positive' : notification.isNew == true, 'negative' : notification.isNew == false}">Vehicle in Map: {{notification.aliasInMap}}</h2>
        <h2 matLine [ngClass]="{'positive' : notification.isNew == true, 'negative' : notification.isNew == false}">Manufacturer Number: {{notification.vin}}</h2>
        <p matLine [ngClass]="{'positive' : notification.isNew == true, 'negative' : notification.isNew == false}">
          <span> Time of event: {{notification.date}} </span>
        </p>
        <p matLine [ngClass]="{'positive' : notification.isNew == true, 'negative' : notification.isNew == false}">
          <span> Model: {{notification.modelType}} </span>
        </p>
        <p matLine [ngClass]="{'positive' : notification.isNew == true, 'negative' : notification.isNew == false}">
          <span> Passengers: {{notification.passengers}} </span>
        </p>
        <p matLine [ngClass]="{'positive' : notification.isNew == true, 'negative' : notification.isNew == false}">
          <span> Location: {{notification.location}} </span>
        </p>
        <p matLine [ngClass]="{'positive' : notification.isNew == true, 'negative' : notification.isNew == false}">
          <span> Speed: {{notification.speed}} </span>
        </p>
        <p matLine [ngClass]="{'positive' : notification.isNew == true, 'negative' : notification.isNew == false}">
          <span> Distance Vehicle Ahead: {{notification.distanceVehicleAhead}} </span>
        </p>
        <p matLine [ngClass]="{'positive' : notification.isNew == true, 'negative' : notification.isNew == false}">
          <span> Distance Vehicle Behind: {{notification.distanceVehicleBehind}} </span>
        </p>
      </mat-list-item>
    </mat-list>
  </mat-sidenav>
  <mat-sidenav-content class="my-sidnav-content">
    <app-gmaps #gmapsComponent [mapVehicleInformations]="mapVehicleInformations"
    [doCenter]="doCenter"></app-gmaps>
    <app-datasimulator (startLiveEvent)="startLive()" (stopLiveEvent)="stopLive()"></app-datasimulator>
  </mat-sidenav-content>
</mat-sidenav-container>


