<select [(ngModel)]="manufacturersSelect" id="manufacturer-dropdown">
  <option value="0" disabled selected>Please select a Car manufacturer</option>
  <option *ngFor="let manufacturer of manufacturers" [value]="manufacturer.name">{{manufacturer.name}}</option>
</select>
<button [disabled]="!isSelected()" (click)="showVehicleInformation()" class="btn btn-primary">Show</button>

<mat-list>
  <mat-list-item *ngFor="let vehicle of vehicles">
    <h3 matLine>Vehicle {{vehicle.vin}}</h3>
    <p matLine>
      <span> {{vehicle.modelType}} </span>
    </p>
  </mat-list-item>
</mat-list>
