<!--<nav class="centerize">-->
<!--<h2>Please select a view</h2>-->
<!--<a routerLink="/manufacturer" routerLinkActive="active">Manufacturer</a>-->
<!--</nav>-->

<!--<app-manufacturer></app-manufacturer>-->
<!--<mat-toolbar>-->
  <!--<mat-toolbar-row>-->
    <!--<span>First Row</span>-->
  <!--</mat-toolbar-row>-->

  <!--<mat-toolbar-row>-->
    <!--<span>Second Row</span>-->
  <!--</mat-toolbar-row>-->
<!--</mat-toolbar>-->
<app-navbar></app-navbar>
<div class="centered">
  <h1>Welcome to the DSE Project of Group 14</h1>
</div>

