<mat-toolbar color="primary" class="fixed-header">
  <span style="padding-right: 1pc">DSE Group 14</span>
  <!-- This fills the remaining space of the current row -->
  <!--<span class="example-fill-remaining-space"></span>-->
  <nav class="example-fill-remaining-space">
    <!--<h2>Please select a view</h2>-->
    <a routerLink="/" routerLinkActive="active">Home</a>
    <a routerLink="/manufacturer" routerLinkActive="active">Manufacturer View</a>
    <a routerLink="/emergency" routerLinkActive="active">Emergency Service View</a>
    <a routerLink="/traffic-authority" routerLinkActive="active">Traffic Authority View</a>
  </nav>
  <!--<span>Right Aligned Text</span>-->
</mat-toolbar>

